@tailwind base;
@tailwind components;
@tailwind utilities;

#root::-webkit-scrollbar {
  display: none;
}

#root {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.CodeMirror {
  height: 100% !important;
}
